<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
    <header>
        <h1>{{title}}</h1>
        <nav>
            <a href="/">Inicio</a> |
            <a href="/products">Productos</a> |
            <a href="/api/products">API Productos</a>
        </nav>
    </header>

    {{{body}}}

     <footer>
        <p>Curso Backend I Juan Pablo Rivero</p>
    </footer>
</body>

</html>